.App {
  text-align: center;
  margin: 8%;
  margin-top: 3%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1436811460420-a04ba62d66fd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 100rem;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#sign-up-form{
  margin-top: 35%;
  
}

#login-form{
  margin-top: 35%;
}

#type-of-experience{
  width: 10rem;
  height: 11rem;
}

#logged-page-view{
  padding-top: 10%;
}
